html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh; /* デバイスの高さに対応 */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: sans-serif;
}

.overlay {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: url('../images/top.png') no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  text-align: center;
  box-sizing: border-box;
}

.nav {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../images/nav.png') no-repeat center center;
  background-size: contain;
  z-index: 999;
}

.logo {
  width: 60%;
  height: auto;
  margin: 45px 0 0 0;
  background: url('../images/logo.png') no-repeat center center;
  background-size: contain;
  aspect-ratio: 1472 / 832; /* 任意の比率（例：横長） */
}

.start-button {
  margin: 50px 0 0 0;
  background-color: #4f48ec;
  color: white;
  font-size: 18px;
  border: none;
  padding: 10px 40px;
  border-radius: 25px;
  cursor: pointer;
}
