<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>チャレンジクエスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flame.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/in_bag.css') }}">
</head>

<body>
    <div class="container">
        <a href="/" class="backTop"></a>
        <div class="header">
            <img src="static/images/nav.png" class="navImg" alt="ナビゲーション">
            <div class="exp-container">
                <div class="exp-label">ランク {{ rank }}</div>
                <div class="exp-bar">
                    <div class="exp-fill" style="width: {{ (exp / next_exp) * 100 }}%;"></div>
                </div>
            </div>
            <div class="right-elements">
                <img src="static/images/coin.png" class="coinImg" alt="コイン">
                <p class="coinNumber"><span class="cross">×</span>{{ coin }}</p>
                <a href="/in_bag"><img src="static/images/bag.png" class="bagImg" alt="バッグ"></a>
            </div>
        </div>
        <div class="background">
            <img src="static/images/background.png" class="backgroundImg" alt="背景">
        </div>
        <main>
            <div class="in_bag">
                <h2>武器</h2>
                <div class="haste-content">
                    <div class="haste">
                        <a href="/weapon-detail"><img src="static/images/ennpitu.png" class="haste-item" alt="アイテム"></a>
                        <button><span class="btn-text">強化</span></button>
                    </div>
                    <div class="haste">
                        <a href="/weapon-detail"><img src="static/images/syapenn.png" class="haste-item" alt="アイテム"></a>
                        <button><span class="btn-text">強化</span></button>
                    </div>
                    <div class="haste">
                        <a href="/weapon-detail"><img src="static/images/mannnennhitu.png" class="haste-item"
                                alt="アイテム"></a>
                        <button><span class="btn-text">強化</span></button>
                    </div>
                </div>
                <a href="/main" class="back-main"><span class="btn-back">戻る</span></a>
            </div>
        </main>
    </div>

</body>

</html>