<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>行動選択</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/move-select.css') }}">
    <!-- DotGothic16フォントを読み込み -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="background"></div> <!-- 背景用の要素 -->


        <div class="in_bag">
            <h2>アイテム</h2>
            <form action="/buy-shop" method="post">
                <p class="price">合計金額 <br><br><span id="totalPrice">0</span> コイン</p>
                <div class="haste-content">
                    <table>
                        <tr class="table-upper">
                            <td>
                                <div class="potion">
                                    <a href="/item-detail"><img src="static/images/potion_low.png" class="potion-item"
                                                                alt="アイテム"></a>
                                    <p class="coin">300コイン</p>
                                    <input type="text" value="300" name="potion_low" hidden>
                                    <label class="selectbox-6">
                                        <select name="quantity_low" id="potionLow">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="potion">
                                    <a href="/item-detail"><img src="static/images/potion_mid.png" class="potion-item"
                                                                alt="アイテム"></a>
                                    <p class="coin">1000コイン</p>
                                    <input type="text" value="1000" name="potion_mid" hidden>
                                    <label class="selectbox-6">
                                        <select name="quantity_mid" id="potionMid">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="potion">
                                    <a href="/item-detail"><img src="static/images/potion_high.png" class="potion-item"
                                                                alt="アイテム"></a>
                                    <p class="coin">2000コイン</p>
                                    <input type="text" value="2000" name="potion_high" hidden>
                                    <label class="selectbox-6">
                                        <select name="quantity_high" id="potionHigh">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-lower">
                            <td>
                                <div class="buffer">
                                    <a href="/item-detail"><img src="static/images/bag.png" class="haste-item"
                                                                alt="アイテム"></a>
                                    <p class="coin">800コイン</p>
                                    <input type="text" value="800" name="buf_jp" hidden>
                                    <label class="selectbox-6">
                                        <select name="quantity_jp" id="bufferJp">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="buffer">
                                    <a href="/item-detail"><img src="static/images/bag.png" class="haste-item"
                                                                alt="アイテム"></a>
                                    <p class="coin">800コイン</p>
                                    <input type="text" value="800" name="buf_mt" hidden>
                                    <label class="selectbox-6">
                                        <select name="quantity_mt" id="bufferMt">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="buffer">
                                    <a href="/item-detail"><img src="static/images/bag.png" class="haste-item"
                                                                alt="アイテム"></a>
                                    <p class="coin">800コイン</p>
                                    <input type="text" value="300" name="buf_en" hidden>
                                    <label class="selectbox-6">
                                        <select name="quantity_en" id="bufferEn">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                {% if messages and messages.poor %}
                    <p class="messages_log">{{ messages.poor }}</p>
                {% elif messages and message.comp %}
                    <p class="messages_log">{{ messages.comp }}</p>
                {% endif %}

                <button class="buy-btn"><span class="btn-back">購入</span></button>
                <a href="/main" class="back-main"><span class="btn-back">戻る</span></a>
            </form>
        </div>


    </div>


</body>

</html>