<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>チャレンジクエスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flame.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item-detail.css') }}">
</head>
<body>
    <div class="container">
        <a href="/" class="backTop"></a>
            <div class="header">
                <img src="static/images/nav.png" class="navImg" alt="ナビゲーション">
                <div class="right-elements">
                    <img src="static/images/coin.png" class="coinImg" alt="コイン">
                    <p class="coinNumber"><span class="cross">×</span>{{ coin }}</p>
                    <a href="/in_bag"><img src="static/images/bag.png" class="bagImg" alt="バッグ"></a>
                </div>
            </div>
        <div class="background">
            <img src="static/images/background.png" class="backgroundImg" alt="背景">
        </div>
        <main>
            <div class="in_menu">
                {% if datas %}
                    <div class="weapon-content">
                        <img src={{ datas[0].itemImage }} class="weapon-item" alt="バッグ">
                        <div class="weapon-text">
                            <h2 class="weapon-title">{{ datas[0].itemName }}</h2>
                            <p class="weapon-exp">
                                {{ datas[0].itemEffect }}
                            </p>
                        </div>
                    </div>
                    <a href="/shop" class="back-main"><span class="btn-back">戻る</span></a>
                {% endif %}
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/reset.js') }}"></script>
</body>
</html>