<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>チャレンジクエスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <a href="/" class="backTop"></a>
        <div class="header">
            <img src="static/images/nav.png" class="navImg" alt="ナビゲーション">
            <div class="right-elements">
                <img src="static/images/coin.png" class="coinImg" alt="コイン">
                <p class="coinNumber">×1000</p>
                <img src="static/images/bag.png" class="bagImg" alt="バッグ">
            </div>
        </div>
        <div class="background">
            <img src="static/images/background.png" class="backgroundImg" alt="背景">
        </div>
        <main>
            <div class="selectButton">
                <a href="#"><button class="selectBtn"><span class="selectFont">マイページ</span></button></a>
                <a href="#"><button class="selectBtn"><span class="selectFont">クエスト選択</span></button></a>
                <a href="#"><button class="selectBtn"><span class="selectFont">ショップ</span></button></a>
            </div>
        </main>
    </div>

</body>
</html>