<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>チャレンジクエスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <a href="/" class="backTop"></a>
        <div class="nav">
            <img src="static/images/nav.png" class="navImg" alt="ナビゲーション">
            <img src="static/images/coin.png" class="coinImg" alt="コイン">
            <img src="static/images/bag.png" class="bagImg" alt="バッグ">
            <p class="coinNumber">×1000</p>
        </div>
        <div class="background">
            <img src="static/images/background.png" class="backgroundImg" alt="背景">
        </div>
        <main>
            <div class="selectButton">
                <a href="#"><button class="selectBtn">マイページ</button></a>
                <a href="#"><button class="selectBtn">クエスト選択</button></a>
                <a href="#"><button class="selectBtn">ショップ</button></a>>
            </div>
        </main>
    </div>

</body>
</html>