<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>クイズ画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div id="overlay" class="overlay"></div>

    <header class="header">
        <div id="hamburger" class="hamburger">
            <span></span><span></span><span></span>
        </div>
        <nav>
            <ul id="header-menu">
                <li><a href="{{ url_for('main') }}">ホームに戻る</a></li>
                <li><a href="{{ url_for('config') }}">設定</a></li>
                <li><a href="{{ url_for('map') }}">ステージを出る</a></li>
            </ul>
        </nav>
    </header>

    <div class="game-container">
        <img src="{{ url_for('static', filename='images/background2.png') }}" alt="背景です" class="background">

        <div class="question-box">
            <p>問題が入りますか？</p>
        </div>

        <div class="choices">
            <div class="choice">選択肢 1</div>
            <div class="choice">選択肢 2</div>
            <div class="choice">選択肢 3</div>
            <div class="choice">選択肢 4</div>
        </div>

        <div class="result" id="result-box"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/question.js') }}"></script>
</body>
</html>


