<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>チャレンジクエスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flame.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
</head>
<body>
    <div class="container">
        <a href="/" class="backTop"></a>
            <div class="header">
                <img src="static/images/nav.png" class="navImg" alt="ナビゲーション">
                <div class="right-elements">
                    <img src="static/images/coin.png" class="coinImg" alt="コイン">
                    <p class="coinNumber"><span class="cross">×</span>1000</p>
                    <a href="/in_bag"><img src="static/images/bag.png" class="bagImg" alt="バッグ"></a>
                </div>
            </div>
        <div class="background">
            <img src="static/images/background.png" class="backgroundImg" alt="背景">
        </div>
        <main>
            <div class="in_bag">
                <h2>武器</h2>
                <div class="haste-content">
                    <table>
                        <tr class="table-upper">
                            <td>
                                <div class="haste">
                                    <a href="/weapon-detail"><img src="static/images/bag.png" class="haste-item" alt="アイテム"></a>
                                    <label class="selectbox-6">
                                        <select name="quantity">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="haste">
                                    <a href="/weapon-detail"><img src="static/images/bag.png" class="haste-item" alt="アイテム"></a>
                                    <label class="selectbox-6">
                                        <select>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="haste">
                                    <a href="/weapon-detail"><img src="static/images/bag.png" class="haste-item" alt="アイテム"></a>
                                    <label class="selectbox-6">
                                        <select>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr class="table-lower">
                            <td>
                                <div class="haste">
                                    <a href="/weapon-detail"><img src="static/images/bag.png" class="haste-item" alt="アイテム"></a>
                                    <label class="selectbox-6">
                                        <select name="quantity">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="haste">
                                    <a href="/weapon-detail"><img src="static/images/bag.png" class="haste-item" alt="アイテム"></a>
                                    <label class="selectbox-6">
                                        <select>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="haste">
                                    <a href="/weapon-detail"><img src="static/images/bag.png" class="haste-item" alt="アイテム"></a>
                                    <label class="selectbox-6">
                                        <select>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="buy-btn"><span class="btn-back">購入</span></button>
                <a href="/main" class="back-main"><span class="btn-back">戻る</span></a>
            </div>
        </main>
    </div>

</body>
</html>